**.dirstamp
**.ko
**.ko.cmd
**.lo
**.m4
**.mod
**.mod.c
**.mod.cmd
**.o
**.o.cmd
**.order
**.order.cmd
**.swp
**.symvers.cmd
**/.tmp_*.gcno
**/Module.symvers
**~
.deps
.libs
ChangeLog
Doxyfile
Kbuild
Makefile
Makefile.in
autoconf
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
ethercat.spec
examples/dc_user/ec_dc_user_example
examples/user/ec_user_example
examples/user/build/
fake_lib/libfakeethercat.la
lib/*.cmake
lib/libethercat.la
lib/libethercat.pc
libtool
master/*.o.d
master/kernel/*.o.d
master/uspace/*.la
master/uspace/ethercat_master

# Kernel build artifacts in master/kernel/
master/kernel/*.o
master/kernel/*.ko
master/kernel/*.mod
master/kernel/*.mod.c
master/kernel/.*.cmd
master/kernel/modules.order
master/kernel/Module.symvers

# Kernel build artifacts for shared sources in master/
master/*.o
master/.*.cmd

# Userspace build artifacts in master/uspace/
master/uspace/*.o
master/uspace/*.lo
master/uspace/.libs/
master/uspace/.deps/
master/uspace/transport/*.o
master/uspace/transport/*.lo

script/ethercat
script/ethercat.service
script/ethercatctl
script/init.d/ethercat
stamp-h1
tool/ethercat
device_drivers.md
generated_table.md
doxygen-output/
